= turbo_frame_tag "user_data" do
  = form_for(User.new, url: users_path , data:{ controller: "user-data" }) do |form|
    section.fixed.top-0.left-0.right-0.bottom-0.flex.items-center.w-full.h-full.p-4.bg-coolGray-800.bg-opacity-80.overflow-y-auto.bg-gray-700
      .max-w-lg.w-full.m-auto.p-8.bg-white.rounded-md
        ul.flex.flex-wrap.-m-1.5.justify-end.mb-2
          li.p-1.5
            a.inline-block.w-3.h-3.bg-coolGray-100.rounded-full.bg-gray-100.bg-orange-400[href="#"]
              span.text-gray-400.text-xxs.border.p-1.rounded-full.bg-orange-400.hidden
                | 1
          li.p-1.5
            a.inline-block.w-3.h-3.rounded-full.bg-gray-100[href="#"]
          li.p-1.5
            a.inline-block.w-3.h-3.bg-coolGray-100.rounded-full.bg-gray-100[href="#"]
          li.p-1.5
            a.inline-block.w-3.h-3.bg-coolGray-100.rounded-full.bg-gray-100[href="#"]
          li.p-1.5
            a.inline-block.w-3.h-3.bg-coolGray-100.rounded-full.bg-gray-100[href="#"]
          li.p-1.5
            a.inline-block.w-3.h-3.bg-coolGray-100.rounded-full.bg-gray-100[href="#"]
        .bg-coolGray-50.rounded-md.mb-5.p-1.border-b.border-gray-100
          img.mx-auto.object-cover.h-36[src="https://static.shuffle.dev/uploads/files/b8/b8308e780b75f7bf1e1abc86fae652e3b7ff5634/Name-Icon-1.png" alt=""]
        p.font-semibold.text-coolGray-900.text-lg
          | User Data
        p.mb-6.text-sm.text-coolGray-500.text-gray-300
          | Please enter your details below.
        .flex.w-full
          .flex.flex-wrap.-m-3.mb-2.pr-2
            .w-full.md:flex-1.p-3
              p.mb-1.5.font-medium.text-coolGray-800.text-sm.text-gray-600
                | First Name
              = form.text_field :first_name, { class:"w-full px-4 py-2.5 text-base text-coolGray-900 font-normal outline-none focus:border-green-500 border border-coolGray-200 rounded-lg shadow-input h-10 border-gray-200",
                placeholder:"", maxlength: "25", data:{ user_data_target:"firstName",action:"input->user-data#focusFirstName"} }
              div[data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"]
              div[data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"]
              div[data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"]
              p.text-xs.text-red-500.my-1.hidden[data-user-data-target="firstNameError"]
                | please enter first name
          .flex.flex-wrap.-m-3.mb-2.pl-2
            .w-full.md:flex-1.p-3
              p.mb-1.5.font-medium.text-coolGray-800.text-sm.text-gray-600
                | Last Name
              = form.text_field :last_name, { class:"w-full px-4 py-2.5 text-base text-coolGray-900 font-normal outline-none focus:border-green-500 border border-coolGray-200 rounded-lg shadow-input h-10 border-gray-200",
                placeholder:"", maxlength: "50", data:{ user_data_target:"lastName",action:"input->user-data#focusLastName"} }
              div[data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"]
              div[data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"]
              div[data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"]
              p.text-xs.text-red-500.my-1.hidden[data-user-data-target="lastNameError"]
                | please enter last name
        .flex.w-full
          .flex.flex-wrap.-m-3.mb-2.pr-2
            .w-full.md:flex-1.p-3
              p.mb-1.5.font-medium.text-coolGray-800.text-sm.text-gray-600
                | Nick Name
              = form.text_field :nick_name, class:"w-full px-4 py-2.5 text-base text-coolGray-900 font-normal outline-none focus:border-green-500 border border-coolGray-200 rounded-lg shadow-input h-10 border-gray-200", placeholder:""
              div[data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"]
              div[data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"]
              div[data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"]
          .flex.flex-wrap.-m-3.mb-2.pl-2
            .w-full.md:flex-1.p-3
              p.mb-1.5.font-medium.text-coolGray-800.text-sm.text-gray-600
                | Phone Number
              = form.text_field :phone_number,{ class:"w-full px-4 py-2.5 text-base text-coolGray-900 font-normal outline-none focus:border-green-500 border border-coolGray-200 rounded-lg shadow-input h-10 border-gray-200",
                               placeholder:"", maxlength: 12, data: {action:"input->user-data#formatPhoneNumber blur->user-data#validatePhoneNumber input->user-data#focusPhoneNumber", user_data_target: "phoneNumber" } }
              div[data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"]
              div[data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"]
              div[data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"]
              p.text-xs.text-red-500.my-1.hidden[data-user-data-target="phoneError"]
                | please enter valid number
        .flex.flex-wrap.-m-3.mb-2
          .w-full.md:flex-1.p-3
            p.mb-1.5.font-medium.text-coolGray-800.text-sm.text-gray-600
              | Email
            = form.email_field :email, { class:"w-full px-4 py-2.5 text-base text-coolGray-900 font-normal outline-none focus:border-green-500 border border-coolGray-200 rounded-lg shadow-input h-10 border-gray-200",
                          placeholder:"", data: { action:"blur->user-data#validateEmailAddress input->user-data#focusEmailAddress", user_data_target: "emailAddress" } }
            p.text-xs.text-red-500.my-1.hidden[data-user-data-target="emailError"]
              | please enter valid email address
        .flex.-m-2
          .w-full.p-2
            = link_to 'Cancel', root_path, { class: "flex flex-wrap justify-center w-full px-4 py-2.5 bg-white font-medium text-base text-coolGray-500 hover:text-coolGray-600 border border-coolGray-200 hover:border-coolGray-300 rounded-md shadow-button", data: {target: "_top"} }
          .w-full.p-2
            button.flex.flex-wrap.justify-center.w-full.px-4.py-2.5.font-medium.text-base.text-white.border.rounded-md.shadow-button.bg-orange-500.border-orange-500.hover:bg-orange-600[type="button" data-action="click->user-data#validateForm"]
              p
              | Next